<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangjing.droidbench_echoer">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.example.zhangjing.droidbench_echoer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity-alias android:name="MainActivity_Alias" android:label="MainActivity_VIEW" android:targetActivity="com.example.zhangjing.droidbench_echoer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
